body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.rps-heading{
    font-weight: bold;
    font-size: 30px;
}

.emoji{
    background-color: black;
    border-radius: 50%;
    height:60px;
}

.emoji-button{
    background-color: black;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 50%;
    padding: 30px;
    align-items: center;
    margin: 5px 10px;
}

.reset{
    padding: 10px;
    width: 130px;
    font-size: 17px;
}

.js-result{
    font-weight: bold;
    font-size: 25px;
}

.move-icon{
    height: 40px;
    border: none;
    padding: 5px;
    margin: 5px;
    align-items: center;
}

.js-moves{
    align-items: center;
}