body {
  font-family: Arial;
}

.todo-grid {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}

.todo-input-grid {
  align-items: stretch;
  margin-bottom: 10px;
}

.input-box {
  font-size: 15px;
  padding: 6px;
}

.add-button {
  background-color: green;
  color: white;
  border: none;
  border-radius: 3px;
}

.delete-button {
  background-color: darkred;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px;

}